*.o
*.lo
config.log
.libs/
doc/examples/.libs/
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
example/.libs/
example/gjobread
libxml2.la
runsuite
runtest
runxmlconf
testAutomata
testC14N
testHTML
testModule
testReader
testRegexp
testRelax
testSAX
testSchemas
testThreads
testURI
testXPath
testapi
testchar
testdict
testdso.la
testlimits
testrecurse
xml2Conf.sh
xmlcatalog
xmllint
