*.o
.build
.made
bash
bashbug
bashversion
builtins/builtext.h
builtins/builtins.c
builtins/libbuiltins.a
builtins/mkbuiltins
builtins/pipesize.h
builtins/psize.aux
config.log
lib/glob/libglob.a
lib/malloc/libmalloc.a
lib/readline/libhistory.a
lib/readline/libreadline.a
lib/sh/libsh.a
lib/termcap/libtermcap.a
lib/tilde/libtilde.a
lsignames.h
mksignames
mksyntax
signames.h
syntax.c
version.h
