*.o
*.lo
config.log
doc/xsltproc.1
libexslt/.libs/libexslt.la
libexslt/.libs/libexslt.lai
libexslt/.libs/libexslt.so
libexslt/.libs/libexslt.so.0
libexslt/.libs/libexslt.so.0.8.17
libexslt/.libs/libexslt.so.0.8.17T
libexslt/libexslt.la
libxslt/.libs/libxslt.la
libxslt/.libs/libxslt.lai
libxslt/.libs/libxslt.so
libxslt/.libs/libxslt.so.1
libxslt/.libs/libxslt.so.1.1.28T
libxslt/libxslt.la
tests/plugins/.libs/xmlsoft_org_xslt_testplugin.la
tests/plugins/.libs/xmlsoft_org_xslt_testplugin.lai
tests/plugins/.libs/xmlsoft_org_xslt_testplugin.so
tests/plugins/xmlsoft_org_xslt_testplugin.la
xsltConf.sh
xsltproc/.libs/testThreads
xsltproc/.libs/xsltproc
xsltproc/testThreads
xsltproc/xsltproc
