*~
*.swp
Makefile
/INSTALL
/helpers/
.deps/
.libs/
/doc
*.lo
*.o
libtool
config.log
config.status
include/autoconf.h
include/stamp-h1
libltdl/config.h
libltdl/config.log
libltdl/config.status
libltdl/stamp-h1
