*~
*.swp
*.la
*.lo
*.o
*.a
*.dirstamp
Makefile
/INSTALL
/helpers/
.deps/
.libs/
/doc
libtool
config.log
config.status
include/autoconf.h
include/stamp-h1
libltdl/config.h
libltdl/config.log
libltdl/config.status
libltdl/stamp-h1
