[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/home/hisisdk/histb/autelan/release/var/run/php-fpm.pid
ExecStart=/home/hisisdk/histb/autelan/release/usr/sbin/php-fpm --nodaemonize --fpm-config /home/hisisdk/histb/autelan/release/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

